/*start of navigation menu*/
nav#header-nav{
    background-color: #696969;
    border-radius: 0;
    border: 0;
}

nav#header-nav a#logo-text{
    color: #000;
    font-size: 2em;
}
/*end of navigation menu*/

/*start of collapsable button*/
nav#header-nav button#button-collapsable, nav#header-nav .icon-bar{
    border:1px solid #000;
}

nav#header-nav a:hover{
    background-color: #999;
}

nav#header-nav button#button-collapsable:hover{
    border:1px solid #fff;
    background: transparent;
}

nav#header-nav .navbar-toggle:hover .icon-bar{
     border:1px solid #fff;
}

nav#header-nav button#button-collapsable:focus{
    border:1px solid #fff;
    background: transparent;
}

nav#header-nav .navbar-toggle:focus .icon-bar{
     border:1px solid #fff;
}
/*end of collapsable button*/

/*start of menu list*/
nav#header-nav div#collapsable-nav ul#nav-list li a{
    color: #000;
    text-align: center;
    font-size: 20px;
}
/*end of menu list*/

/*start of main content*/
div#main-content h2{
    margin-top: 0;
    margin-bottom: 50px;
}

div#main-content{
    width: 98%;
    height: 1000px;
}

div#main-content h3{
    color: #000;
    padding-top: 10px;
}

div#main-content #description p{
    color: #000;
    padding: 20px;
}

div#main-content div#subcon-1{
    background: #999;
}
/*end of main content*/


/*Responsive Sreen*/
@media (min-width: 767px) and (max-width: 992px){
    div#main-content{
        width: 80%;
    }
    
    nav#header-nav div#collapsable-nav ul#nav-list li a{
        display: none;
    }
}

@media (max-width: 767px){
    div#main-content{
        width: 80%;
    }
    
}